<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="數據庫連線Dal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="數據庫連線.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        
        <數據庫連線Dal.Properties.Settings>
            <setting name="DataBase" serializeAs="String">
                <value>darbdcstlog1</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>foxlog</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>qwertgbnm,./</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>192.168.1.228</value>
            </setting>
            <setting name="資料庫名稱" serializeAs="String">
                <value>銓育</value>
            </setting>
        </數據庫連線Dal.Properties.Settings>
        <數據庫連線.Properties.Settings>
            <setting name="DataBase" serializeAs="String">
                <value>darbdcstlog1</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>foxlog</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>qwertgbnm,./</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="資料庫名稱" serializeAs="String">
                <value>銓育</value>
            </setting>
        </數據庫連線.Properties.Settings>
    </applicationSettings>
</configuration>